/vendor/*
#/config/app.php
/tmp/*
/logs/*
/config/Migrations/schema-dump-default.lock
/webroot/img/avatar
/src/Controller/Test*
/src/Template/Test/*
/webroot/resources/img/*
!/webroot/resources/img/public
/webroot/resources/audio/*
!/webroot/resources/audio/public
/storage/dynamic/*
/webroot/minify/js/*
!/webroot/minify/js/empty
/webroot/minify/css/*
!/webroot/minify/css/empty