/vendor/*
/config/.env
/tmp/*
/logs/*
/config/Migrations/schema-dump-default.lock
/src/Controller/Test*
/src/Template/Test/*
/webroot/resources/img/*
!/webroot/resources/img/public
/webroot/resources/audio/*
!/webroot/resources/audio/public
/storage/dynamic/*
!/storage/dynamic/empty
/webroot/minify/js/*
!/webroot/minify/js/empty
/webroot/minify/css/*
!/webroot/minify/css/empty
/webroot/img/avatar/*
!/webroot/img/avatar/empty