.wraper-bg-black{
    background-color: #171e22 !important;
}
.page-background-bottom, .page-background-fixed, .page-background-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}
.page-background-bottom {
    top: auto;
    bottom: 0;
}
img.cover{
    width: 100%;
    object-fit: cover;
}

/* Tilte có gạch ngang*/
.decorate-h{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}    
.decorate-h::after, .decorate-h::before{
    content: "";
    display: block;
    -webkit-box-flex: 100;
    -ms-flex: 100;
    flex: 100;
    border-bottom: 4px solid;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
/* .decorate-h::before, .decorate-h::before { // float sang trái
    -webkit-box-flex: 20px;
    -ms-flex: 20px;
    flex: 20px;
    width: 20px;
    min-width: 20px;
} */
.decorate-h::after, .decorate-h::before {
    border-bottom-color: #293139 !important;
}
.decorate-h span{
    padding: 0 10px;
}/*------------*/

/* Chia đều các thành phần thành cột có chiều cao bằng nhau, tự thêm khoảng trống*/
.flex-space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* tweak where items line
        up on the row
        valid values are: flex-start,
        flex-end, space-between,
        space-around, stretch */
    align-content: flex-end;
}/*------------*/

.sidebar {
    background: #232930;
}
.navbar-header {
    background: #232930;
}
.white-box, .list-group-item, .form-control, .footer, .dropzone, .panel-white .panel-heading, .panel-default .panel-heading, .panel-white .panel-body, .panel-default .panel-body, .panel-white .panel-footer, .panel-default .panel-footer, .panel, .well, pre, .customtab li.active a, .customtab li.active a:hover, .customtab li.active a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .modal-content, .myadmin-dd-empty .dd-list .dd3-content, .myadmin-dd-empty .dd-list .dd3-handle, .thumbnail, .myadmin-dd .dd-list .dd-item .dd-handle, .pagination > li > a, .pagination > li > span, .pager li > a, .pager li > span, .radio label::before, .select2-container-multi .select2-choices, .bootstrap-tagsinput, .dropify-wrapper, .dropify-wrapper .dropify-preview, .daterangepicker .input-mini, .css-bar:after, table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, input, select, .jsgrid-header-row > th, .jsgrid-row > td, .jsgrid-alt-row > td, .content-wrap, .manage-table, .table tbody tr.advance-table-row td, .panel .panel-footer, .calendar-widget, .panel-footer textarea, .list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover, .chat-main-box {
    background: #232930;
}
#page-wrapper {
    padding: 0px;
    min-height: 568px;
    background: #2d323a;
    padding-bottom: 60px;
}
.customtab li.active a, .customtab li.active a:hover, .customtab li.active a:focus {
    border-bottom: 2px solid #dd163b;
    color: #dd163b;
}
.bg-title {
    background: #2d323a;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.my-white{
    color: white;
}
.my-red{
    color: #dd163b;
}

.bg-invisible{
    background-color: #00000000;
    padding: 10px 0px;
}/* -------------------------------*/

/* Để debug của cakephp không bị che bởi navbar và sidebar */
.cake-debug-output {
    margin-top: 70px;
    padding-left: 70px;
}/*------------*/

/* Xóa border trắng khi màn hình nhỏ của boostrap*/
@media screen and (max-width: 768px) {
    .table-responsive {
       border: none;
    }
}/*------------*/

/*Chỉnh bảng Notifications rộng ra cho dễ đọc*/
.dropdown-notifs{
    width:315px;
    right: -58px;
}/*------------*/

.navbar-top-links .dropdown-notifs {
    /* right: 0; */
    left: auto;
}

.has-error .help-block {
    padding: 0 15px;
    clear: left;
}

.new-login-box, 
.new-register-box {
    width: 500px;
    margin: auto;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bg-title {
        padding: 15px 0px 10px 0px;
        margin-bottom: 25px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .new-login-box, 
    .new-register-box {
        width: 100%;
    }
}

input.k-textbox {
    height: 34px;
    padding: 6px 8px;
}

/* Custom select2 */
.form-group.select2-container {
    width: 100% !important;
}
.form-group .select2-container--default .select2-selection--multiple {
    background-color: rgb(47, 50, 62);
    border-color: rgba(120, 130, 140, 0.2);
    padding: 3px 5px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group .select2-container--focus .select2-selection {
    border-color: rgba(120, 130, 150, 1.0) !important;
    box-shadow: none !important;
}
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0bcad1;
    border-color: #0bcad1;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: #fff;
}
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}
.form-group .select2-close-mask { /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 4099;
}
.form-group .select2-dropdown { /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 5051;
}
.form-group .main-header .navbar {
    margin-left: 0px; 
}/*------------*/

.social-login a {
    display: inline-block;
    margin-bottom: 5px;
}

.upload-thumbnail {
    max-width: 100%;
}/*------------*/

.dropdown-notifs li a{
    overflow: auto;
}
.dropdown-notifs li a div{
    padding-left: 0px;
}