/* Để debug của cakephp không bị che bởi navbar và sidebar */
.cake-debug-output {
    margin-top: 70px;
    padding-left: 70px;
}

.has-error .help-block {
    padding: 0 15px;
    clear: left;
}

.login-box, 
.register-box {
    width: 500px;
}

@media (max-width: 768px) {
    .login-box, 
    .register-box {
        width: 100%;
        margin: 0;
    }
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 0px;
    }
}

.login-box-msg {
    font-weight: bold;
}

.error input,
.error select,
.error textarea {
    border-color: #dd4b39;
}

.error-message {
    color: #dd4b39;
}

input.k-textbox {
    height: 34px;
    padding: 6px 8px;
}

/* Custom select2 */
.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: rgb(47, 50, 62);
    border-color: rgba(120, 130, 140, 0.2);
    padding: 3px 5px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select2-container--focus .select2-selection {
    border-color: rgba(120, 130, 150, 1.0) !important;
    box-shadow: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0bcad1;
    border-color: #0bcad1;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}
.select2-close-mask { /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 4099;
}
.select2-dropdown { /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 5051;
}
.main-header .navbar {
    margin-left: 0px; 
}

/* Custom myadmin-alert of Ample Admin theme */
.myadmin-alert-top,
.myadmin-alert-bottom,
.myadmin-alert-top-left,
.myadmin-alert-top-right,
.myadmin-alert-bottom-left,
.myadmin-alert-bottom-right,
.myadmin-alert-fullscreen {
  z-index: 1002;
}