.login-box, 
.register-box {
    width: 500px;
}

@media (max-width: 768px) {
    .login-box, 
    .register-box {
        width: 100%;
    }
}

.login-box-msg {
    font-weight: bold;
}

.error input,
.error select,
.error textarea {
    border-color: #dd4b39;
}

.error-message {
    color: #dd4b39;
}

input.k-textbox {
    height: 34px;
    padding: 6px 8px;
}

.select2-container {
    width: 100% !important;
}
.select2-close-mask{ /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 4099;
}
.select2-dropdown{ /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 5051;
}