/* Để debug của cakephp không bị che bởi navbar và sidebar */
.cake-debug-output {
    margin-top: 70px;
    padding-left: 70px;
}

/* Xóa border trắng khi màn hình nhỏ của boostrap*/
@media screen and (max-width: 768px) {
    .table-responsive {
       border: none;
    }
}

/*Chỉnh bảng Notifications rộng ra cho dễ đọc*/
.dropdown-notifs{
    width:315px;
    right: -58px;
}

.navbar-top-links .dropdown-notifs {
    right: 0;
    left: auto;
}

.has-error .help-block {
    padding: 0 15px;
    clear: left;
}

.new-login-box, 
.new-register-box {
    width: 500px;
    margin: auto;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bg-title {
        padding: 15px 0px 10px 0px;
        margin-bottom: 25px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .new-login-box, 
    .new-register-box {
        width: 100%;
    }
}

.error input,
.error select,
.error textarea {
    border-color: #dd4b39;
}

.error-message {
    color: #dd4b39;
}

input.k-textbox {
    height: 34px;
    padding: 6px 8px;
}

/* Custom select2 */
.form-group.select2-container {
    width: 100% !important;
}
.form-group .select2-container--default .select2-selection--multiple {
    background-color: rgb(47, 50, 62);
    border-color: rgba(120, 130, 140, 0.2);
    padding: 3px 5px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group .select2-container--focus .select2-selection {
    border-color: rgba(120, 130, 150, 1.0) !important;
    box-shadow: none !important;
}
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0bcad1;
    border-color: #0bcad1;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: #fff;
}
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}
.form-group .select2-close-mask { /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 4099;
}
.form-group .select2-dropdown { /* Cần để chạy đúng trên Bootstrap modal */
    z-index: 5051;
}
.form-group .main-header .navbar {
    margin-left: 0px; 
}



/* Custom select2 - Main header - search area*/
.app-search .select2-container{
    width: 300px !important;
}
.app-search .select2-selection{
    float: right;
    width: 180px !important;
    border: none !important;
    font-size: 13px;
    color: #4c5667;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    height: 30px;
    font-weight: 600;
    width: 180px;
    /* display: inline-block; */
    line-height: 30px;
    margin-top: 15px;
    border-radius: 40px !important;
    transition: 0.5s ease-out;
    /* transition: all 0.5s;     */
}
.app-search .select2-container--focus .select2-selection{
    width: 300px !important;
}
.select2-dropdown {
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 0px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0px!important;
    -moz-box-shadow: 0px!important;
    padding-bottom: 8px;
    margin-top: 0px;
    background-color: #3c4452;
}
.select2-container--default .select2-results>.select2-results__options {
    overflow-x: hidden;
}
.select2-result-avatar {
    float: left;
    width: 60px;
    margin-right: 10px;
}
.select2-result-avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.select2-result-meta {
    margin-left: 70px;
}
.select2-results__option strong{
    color: #ff7676;
}
.select2-results__option > a {
    color: #96a2b4
}
.select2-results__option > a > div:hover{
    background-color: #424a58;
}




/* Custom myadmin-alert of Ample Admin theme */
.myadmin-alert-top,
.myadmin-alert-bottom,
.myadmin-alert-top-left,
.myadmin-alert-top-right,
.myadmin-alert-bottom-left,
.myadmin-alert-bottom-right,
.myadmin-alert-fullscreen {
  z-index: 1002;
}

.miw-100 {min-width: 100px} .miw-150 {min-width:150px}
.w10p{width: 10%} .w15p{width: 15%} .w20p{width: 20%}

